.wrapper {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.navigation {
    width: 100vw;
    height: 45px;
}

.navigation-color {
    background: #1699E5;
}

.navigation-text {
    color: rgba(255, 255, 255, .5);
}

.profile-pic {
    border-radius: 50%;
}

.block-intro {
    padding: 30px;
}

.intro-background {
    background: url("picture-assets/overview_devices_rotated_2x.png") #1699E5;
    height: 100vh;
    background-size: 768px 672px;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    background-color: #1699E5;
    box-shadow: inset -50px 0 100px #1699E5;
}

.intro-header {
    font-family: 'Montserrat', sans-serif;
}

.intro-text {
    color: white;
}

.welcome {
    font-size: 20px;
    font-weight: 300;
}

.get-started {
    font-size: 50px;
    font-weight: 500;
}

.intro-icons {
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    align-items: center;
}

.icon {
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    font-size: 56px;
    text-align: center;
    color: white;
    background-color: #1699E5;
    border-radius: 50%;
    border: solid 3px white;
}

.icon:hover {
    transition: .8s;
    color: #1699E5;
    background-color: white;
}

.intro-icon-description {
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    align-items: center;
}

.intro-icon-description p {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.block-offers {
    width: 100vw;
    min-height: 100px;
    background: lightgrey;
}

.footer {
    background: lightgrey;
}


/* 1699E5 */