.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navigation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

.navigation-color {
    background: #1699E5;
}

.navigation-text {
    color: rgba(255, 255, 255, .5);
}

.profile-pic {
    border-radius: 50%;
}

.block-intro {
    margin: 0;
    width: 100%;
    background: #1699E5;
}

.block-offers {
    margin: 0;
    width: 100%;
    min-height: 100px;
    background: lightgrey;
}

.footer {
    margin: 0;
    background: lightgrey;
}

.row {
    background: lightcoral;
}


/* 1699E5 */